# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Ignore generated plots
*.png
*.jpg
*.gif
*.tiff
plots/*.png
plots/*.jpg
plots/*.gif
plots/*.tiff
plots/*

# Ignore old files
*.py~
*.txt~
[#]*[#]


# Environments
.env
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
archive/
.venvs/
work*
m21c_radmon/
log*
offline/timeseries/src/drafts
offline/timeseries/src/archive
offline/timeseries/helper_functions
offline/timeseries/src/drafts
*.tar

# Jupyter NB
.ipynb_checkpoints
#test_config_yaml_path.tmpl.cbloecke.yaml
test_config_yaml_path.example.yaml
test_config_yaml_path.example1.yaml
test_config_yaml_path.tmpl.yaml
sic_test_config_yaml_path.tmpl.yaml
work.test_config_yaml_path.example.yaml
offline/timeseries/src/m21c_radmon/
run/
offline/timeseries/src/yamls/
offline/spatial/clean_plots/fvwork.RADMON/