#!/usr/bin/env perl
#=======================================================================
# created by script, __SOURCE
#=======================================================================
use strict;
use warnings;
use lib ("__PYRADMON/scripts");
use PyradmonUtils qw(load_balance);
my ($bfile, $bin2txt_x, $options);
my ($pid, @pidArr);
my $MAX = __MAX;

# global variables
#-----------------
$bin2txt_x = "__BIN2TXT_EXEC";
$options = "__BIN2TXT_OPTS";
@pidArr = ();

#=======================================================================
# main program
# purpose - convert binary (or nc4) files to text
#=======================================================================
{
    convertfiles2txt();
    @pidArr = load_balance(\@pidArr, 0);
}

#=======================================================================
# name - b2t
#=======================================================================
sub b2t {
    my ($bfile, $cmd, $options_);
    $bfile = shift @_;

    if ($bfile =~ m/\.nc4$/) { $options_ = "$options -nc4" }
    else                     { $options_ = $options }

    @pidArr = load_balance(\@pidArr, $MAX);
    defined($pid=fork) or die "Error. Cannot fork: \$!";
    unless ($pid) {
        $cmd = "$bin2txt_x $options_ $bfile";
        print "$cmd\n";
        exec($cmd);
    }
    push @pidArr, $pid;
}

#=======================================================================
# name - convertfiles2txt
#=======================================================================
sub convertfiles2txt {

    # lines to convert individual files are written below
    #----------------------------------------------------
