#!/usr/bin/env perl
#SBATCH --account=__GROUPID__
#SBATCH --export=NONE
#SBATCH --time=2:00:00
#SBATCH --output=__GETBINS_LOG__
#SBATCH --partition=datamove
#__DATAMOVE_CONSTRAINT__
use strict;
use warnings;
use File::Basename qw(basename dirname);
use File::Copy qw(copy);
use File::Path qw(mkpath rmtree);
use Scalar::Util qw(openhandle);
use lib ("__PYRADMON__/scripts");
use PyradmonUtils qw(load_balance substitute);
my ($ESMADIR, $FVROOT, $PESTOROOT);
my ($afile, $archive, $archroot, $atmpl);
my ($bfile, $bin2txt_x, $bin2txt_pl, $bin2txt_pl_tmpl, $btmpl);
my ($clean_txt_csh, $echorc, $edir, $expbase, $expid, $exproot);
my ($fvhome, $getbins_err, $gsidiagsrc, $inst);
my ($msg, $mstorage, $ndenddate, $ndstartdate);
my ($pid, $pyradmon, $tfile, $tick, $tmpl, $workdir);
my (%arc2binH, %bin2txtH, %opts, %values);
my (@arcfiles, @dmgetlist, @enddate, @insts, @pidArr, @startdate, @template);
my $MAX = __MAX__;

$| = 1;  # flush buffer after each output operation
%opts = ( "verbose" => 1 );

$FVROOT = "__FVROOT__";
$pyradmon = "__PYRADMON__";

#$echorc = "$FVROOT/bin/echorc.x";
$echorc = "$pyradmon/scripts/echorc.pl";

{
    local @ARGV = ("$FVROOT/bin");
    do "$FVROOT/bin/g5_modules_perl_wrapper";
}
$expid   = "__EXPID__";
$fvhome  = "__FVHOME__";
$archive = "__ARCHIVE__";
$expbase = "__EXPBASE__";

@startdate = qw( __STARTDATETIME__ );
@enddate   = qw( __ENDDATETIME__ );

$mstorage   = "__MSTORAGE__";
$gsidiagsrc = "__GSIDIAGSRC__";
$workdir    = "__WORKDIR__";

$ndstartdate = $startdate[0] .substr($startdate[1],0,2);
$ndenddate   = $enddate[0] .substr($enddate[1],0,2);

$getbins_err = "$workdir/GETBINS_ERR";

if (! -d $archive) {
    print "$getbins_err found\n";
    $msg = "Error. $archive not found in getbins job";
    system("echo $msg |& tee $getbins_err");
    die "$msg;";
}

@insts = (qw(__INSTRUMENTS__));
unless (@insts) {
    @insts = (split /\s+/, `$echorc -rc $gsidiagsrc satlist`);
}
print "insts = @insts\n";

$tick = "$FVROOT/bin/tick";
die "Unable to find $tick;" unless -e $tick;

mkpath($workdir, \%opts) unless -d $workdir;
chdir $workdir;

$bin2txt_pl = "__BIN2TXT_PL__";
$bin2txt_pl_tmpl = "__PYRADMON__/scripts/bin2txt.pl.tmpl";
$clean_txt_csh = "__CLEAN_TXT_CSH__";

%arc2binH = ();
%bin2txtH = ();

while ($ndstartdate <= $ndenddate) {
    print "\n\ndate: $ndstartdate\n";
    @dmgetlist = ();

    $archroot = "$archive/";
    $exproot = "$expbase/";
    foreach $inst (@insts) {
        print "looking for binfiles: $inst\n";
        @template = (`cat $mstorage | grep $inst | grep -P bin\$`);

        foreach $tmpl (@template) {

            # inputs in archive but not in experiment directory
            #--------------------------------------------------
            $ENV{"PESTOROOT"} = $archroot;
            $atmpl = ( `$echorc -template $expid @startdate -fill $tmpl` );
            chomp($atmpl);
            foreach $afile (glob($atmpl)) {
                chomp($afile);
                $afile =~ s/\.bin$/\.nc4/ unless -e $afile;
                next unless -e $afile;
                ($bfile = $afile) =~ s/$archroot/$exproot/;
                ($tfile = $bfile) =~ s/\.bin$/\.txt/;
                $tfile =~ s/\.nc4$/\.txt/;
                next if $bin2txtH{$bfile};
                next if -e $tfile;
                unless (-e $bfile) {
                    $arc2binH{$afile} = $bfile;
                    push @dmgetlist, $afile;
                }
                $bin2txtH{$bfile} = $tfile;
            }

            # inputs in experiment directory but not in archive
            #--------------------------------------------------
            # probably this will never happen, but just in case
            #--------------------------------------------------
            $ENV{"PESTOROOT"} = $exproot;
            $btmpl = ( `$echorc -template $expid @startdate -fill $tmpl` );
            chomp($btmpl);
            foreach $bfile (glob($btmpl)) {
                chomp($bfile);
                $bfile =~ s/\.bin$/\.nc4/ unless -e $bfile;
                next unless -e $bfile;
                next if $bin2txtH{$bfile};
                ($tfile = $bfile) =~ s/\.bin$/\.txt/;
                $tfile =~ s/\.nc4$/\.txt/;
                next if -e $tfile;
                $bin2txtH{$bfile} = $tfile;
            }
        }
    }
    if (@dmgetlist) {
        print "dmget @dmgetlist\n";
        @pidArr = load_balance(\@pidArr, $MAX);
        defined($pid=fork) or die "Error. Cannot fork: $!";
        unless ($pid) {
            exec("dmget @dmgetlist");
        }
        push @pidArr, $pid;
    }
    chomp(@startdate = (split /\s+/, `$tick @startdate 0 060000`));
    $ndstartdate = $startdate[0] .substr($startdate[1], 0, 2);
}

# copy bin files from archive
#----------------------------
if (%arc2binH) {
    @arcfiles = (sort keys %arc2binH);
    foreach $afile (@arcfiles) {
        $bfile = $arc2binH{$afile};
        $edir = dirname($bfile);
        print "\n";
        mkpath($edir, \%opts) unless -d $edir;
        print "afile: $afile\n";
        print "bfile: $bfile\n";
        print "copy(afile, bfile)\n";

        @pidArr = load_balance(\@pidArr, $MAX);
        defined($pid=fork) or die "Error. Cannot fork: $!";
        unless ($pid) {
            copy($afile, $bfile);
            exit;
        }
        push @pidArr, $pid;
    }
    print "\n";
    load_balance(\@pidArr, 0);
} else { print "No need to copy bin files from archive.\n" }

if (%bin2txtH) {

    # write bin2txt script
    #---------------------
    %values = ();
    $values{"__PYRADMON"} = "__PYRADMON__";
    $values{"__MAX"} = __MAX__;
    $values{"__BIN2TXT_EXEC"} = "__BIN2TXT_EXEC__";
    $values{"__BIN2TXT_OPTS"} = "__BIN2TXT_OPTS__";
    $values{"__SOURCE"} = basename("__GETBINS_J__");

    unlink $bin2txt_pl if -e $bin2txt_pl;
    substitute($bin2txt_pl_tmpl, $bin2txt_pl, %values);

    open (B2T, ">> $bin2txt_pl") or die "Error reopening $bin2txt_pl;";
    foreach $bfile (sort keys %bin2txtH) {
        print B2T qq(    b2t("$bfile");\n);
    }
    print B2T "}\n";
    close B2T;

    # write clean_text script
    #------------------------
    unlink $clean_txt_csh if -e $clean_txt_csh;
    open(CLN, "> $clean_txt_csh") or die "Error opening file, $clean_txt_csh;";
    print CLN "#!/usr/bin/env tcsh\n";
    print CLN "#" ."="x71 ."\n";
    print CLN "# created by script, " .basename("__GETBINS_J__") ."\n";
    print CLN "#" ."="x71 ."\n";
    print CLN "set echo\n";
    print CLN "unalias rm\n\n";

    foreach $afile (sort keys %arc2binH) {
        print CLN qq(rm -f $arc2binH{$afile}\n);
    }
    foreach $bfile (sort keys %bin2txtH) {
        print CLN qq(rm -f $bin2txtH{$bfile}\n);
    }
    close CLN;
    chmod 0744, $bin2txt_pl;
    chmod 0744, $clean_txt_csh;
} else { print "No need to convert bin files to txt.\n" }
